<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resetowanie hasła</title>
</head>
<body>
  {% extends 'base.html' %}

  {% block title %}Document{% endblock %}

  {% block content %}

    <section class="reset-password-page">
        <h2>Resetuj hasło</h2>
        <!-- Dodaj formularz do wprowadzenia nowego hasła -->
        <form method="post" action="{% url 'reset' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="password">Nowe hasło:</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password_confirm">Potwierdź hasło:</label>
                <input type="password" name="password_confirm" class="form-control" required>
            </div>
            <div class="form-group form-group--buttons">
                <button class="btn" type="submit">Zresetuj hasło</button>
            </div>
        </form>
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </section>
  {% endblock %}

</body>
</html>
