{% extends 'base.html' %}
{% block title %}Resetuj hasło{% endblock %}

{% block content %}
<section class="login-page">
  <h2>Resetuj hasło</h2>

  <form method="post" action="{% url 'reset_password' %}">
    {% csrf_token %}
    <div class="form-group">
      {{ form.password }}
    </div>
    <div class="form-group">
      {{ form.password_confirm }}
    </div>

    <div class="form-group form-group--buttons">
      <button class="btn" type="submit">Zresetuj hasło</button> 
    </div>
  </form>

  {% if messages %}
    {% for message in messages %}
      <h2>{{ message }}</h2>
    {% endfor %}
  {% endif %}
</section>
{% endblock %}